.slider {
  width: auto;
  height: auto;
  margin: 75px 0;
  overflow: hidden;
}

.slider .slide-track {
  display: flex;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: calc(270px * 14);
}

.slider .slide {
  width: 400px;
  margin-right: 40px;
}

.slider .slide img {
  width: 100%;
  border-radius: 30px;
}

@keyframes scroll {
  0% {
    -webkit-animation: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-animation: translateX(calc(-210px * 7));
    transform: translateX(calc(-210px * 7));
  }
}
